#galery
{
    font:0;
}
@media (min-width:992px)
{
    img
    {
        width: 33.33333%;
    }
    
    #gallery
    {
        width: 100%;
    }
}


@media (min-width:768px) and (max-width:992px)
{
    img
    {
        width: 50%;
    }
    
        #gallery
    {
        width: 90%;
    }
}

@media (min-width:480px) and (max-width:768px)
{
    img
    {
        width: 70%;
    }
    
        #gallery
    {
        width: 90%;
    }
}

@media (max-width:480px)
{
    figure
    {
        width: 90%;
    }
    #gallery
    {
        width: 100%;
    }
    
}